{% extends 'base.html'%} {% block content%}
<!-- meesage content  -->

   {%if messages %}
{% for message in messages%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Message !</strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
    {% endif%}
    <!-- check if user is logged in  -->

  {% if user.is_authenticated %}
      <!-- displaying records start  -->

  <h1> Loggedin User is Only viewing the records </h1>

  
<table class="table  table-striped  table-hover   table-bordered">
  <thead>
   
    <tr>
      <th scope="col" class="table-dark">ID</th>
      <th scope="col" class="table-dark">NAME</th>
      <th scope="col" class="table-dark">ADDRESS</th>
      <th scope="col" class="table-dark">CITY</th>
      <th scope="col" class="table-dark">STATE</th>
      <th scope="col" class="table-dark">EMAIL</th>
      <th scope="col" class="table-dark">PHONE</th>
            <th scope="col" class="table-dark">CREATED AT</th>


    </tr>
  </thead>
  <tbody>
   
    <tr>
       
 {% if record %}

  {% for records in record %}
      <th scope="row"> <a href="{% url 'record_detail' records.id %}"> {{records.id}} </a></th>
      <td>{{records.first_name}}  {{records.last_name}}  </td>
      <td>{{records.address}}</td>
      <td>{{records.city}}</td>
            <td>{{records.state}}</td>
      <td>{{records.email}}</td>
      <td>{{records.phone}}</td>
      <td>{{records.created_at}}</td>

    </tr>
    
    {%endfor%}

{%endif%}
  </tbody>
</table>

  

  <!-- displaying records end  -->

  {% else %}
    <h1>LOGIN</h1>
   <!--else show the login form-->

  <form method="POST" action="{% url 'home'%}">
    {% csrf_token %}
    <div class="form-group mb-3">
      <label>User Name</label>
      <input type="text"
        class="form-control"
        id="username"
        name="username" required
      />
     
    </div>
    <div class="form-group mb-3">
      <label >Password</label>
      <input type="password" class="form-control" id="password" name="password" required  />
    </div>
    
    <button type="submit" class="btn btn-primary">LOGIN</button>
  </form>
  {% endif %}
</div>
  {% endblock%}
